body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

p {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    border: 2px solid #ffffff;
    margin-top: 10px;
}

footer {
    background-color: #ffffff;
    color: black;
    padding: 20px 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}